@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@theme {
  --color-brand: #0ea5e9;
  --color-accent: #f59e0b;
  --color-primary: #008dd5;
  --font-display: "Poppins", sans-serif;
  --font-montserrat: "Montserrat";
}
